@model IEnumerable<TravelGuide.Entiteis.Models.WatchlistItem>

@{
    ViewData["Title"] = "WatchlistList";
}

<h1>WatchlistList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WatchlistItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WatchlistItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WatchlistItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
