@model TravelGuide.Entiteis.Models.Flight

@{
    ViewData["Title"] = "FlightDetails";
    Layout = "_templateLayout";

}

<h1>FlightDetails</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Airline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Airline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArivalAirport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArivalAirport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationCountry)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FlightId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
